.main-header .sidebar-toggle:before {
    content: "";
}
/*顶部导航*/
.main-header {
	.navbar-nav>li>a {
	    padding-top: 15px;
	    padding-bottom: 15px;
	}
}

/*侧边菜单*/
.sidebar{

	.sidebar-menu {
		

	}
}