{:hook('syncMeta')}
    {php}$seo_meta = get_seo_meta($vars);{/php}

    {if condition="$seo_meta['title']"}
        <title>{$seo_meta['title']}-{:modC('WEB_SITE_NAME',lang('_MUUCMF_'),'Config')}</title>
    {else/}
        <title>{:modC('WEB_SITE_NAME',lang('_MUUCMF_'),'Config')}</title>
    {/if}
    {if condition="$seo_meta['keywords']">
        <meta name="keywords" content="{$seo_meta['keywords']}"/>
    {/if}
    {if condition="$seo_meta['description']"}
        <meta name="description" content="{$seo_meta['description']}"/>
    {/if}
    <!-- zui -->
    <link href="__ZUI__/css/zui.min.css" rel="stylesheet">
    <link href="__COMMON__/css/main.min.css" rel="stylesheet"/>
    <link href="__COMMON__/lib/qtip/jquery.qtip.css" rel="stylesheet"/>
    <script>
        //全局内容的定义
        var cookie_config={
            "prefix":"{:Config('COOKIE_PREFIX')}"
        }
        var Config={
            'GET_INFORMATION':{:modC('GET_INFORMATION',1,'Config')},
            'GET_INFORMATION_INTERNAL':{:modC('GET_INFORMATION_INTERNAL',10,'Config')}*1000
        }
        var MID = "{:is_login()}";
    </script>

{:hook('pageHeader')}