/*覆盖框架原样式*/
.btn-primary {
    background-color: #039BE5;
    border-color: #038acc;
}

a:hover {
    color:#00ce74;
}
nav.navbar.bootsnav {
    min-width: 1160px;
}
@media (max-width: 992px) {
  nav.navbar.bootsnav .navbar-header {
    float: left;
  }
}
nav.navbar.bootsnav .navbar-brand {
    float: left;
    padding:10px 0;
    height:70px;
}
nav.navbar.bootsnav .navbar-brand img{
    width:auto;
    display: inline-block;
    height:50px;
    width:171px;
  }

/*自定义通用顶部导航*/
.nav-func {
    margin-left: 220px;
}
.nav-func_item, .nav-func_btn_wrap {
    display: inline-block;
    height: 58px;
    line-height: 58px;
    margin: 0 26px;
    font-size: 16px;
    font-weight: 500;
}
.nav-func_item {
    position:static;
    margin: 0 29px;
}
.nav-func_item:hover {
    cursor: pointer;
    color: #00ce74;
    border-bottom: 3px solid #00ce74;
}
.nav-func_item.active {
    color: #00ce74;
    border-bottom: 3px solid #00ce74;
}
.nav-func_btn_wrap {
    margin: 0 0 0 17px;
}

.arrow-down{
    margin-left: 5px;
}


/*下拉样式*/
/*第一个下拉样式*/
.dropdown_product {
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 49;
}
.dropdown_product_content {
    width: 1200px;
    height: 191px;
    margin: 0 auto;
}
.dropdown_product_content ul {
    float: left;
    margin-left: 425px;
    margin-bottom: 0;
}
.dropdown_product_content ul li {
    display: inline-flex;
    flex-direction: column;
    width: 188px;
    height: 191px;
    align-items: center;
    justify-content: center;
}
.dropdown_product_content ul li a {
    display: block;
}
.dropdown_product_content ul li img {
    display: block;
    margin: auto;
}
.dropdown_product_content ul li:hover {
    background-color: #fbfbfb;
}
.dropdown_product_content span {
    display: block;
    margin-top: 15px;
    color: #666666;
    line-height: normal;
}

/*自定义顶部登陆*/
.attr-nav {

    height:70px;

    > ul > li > a {
        color: #6f6f6f;
        display: block;
        position: relative;
        padding: 0px 10px;
    }
    .dropdown {
        > a {
            height:70px;
        }
    }
    .header-avatar {
        display:inline-block;
        width:32px;
        height:70px;
        overflow:hidden;
    }
    .header-nickname {
        display:inline-block;
        max-width:100px;
        overflow:hidden;
        height:70px;
    }
    .header-icon-down {
        display:inline-block;
        height:70px;
        overflow:hidden;
    }
}
.common-login {
	a {
        font-size:16px;
		display:inline-block;
		border:1px solid #00ce74;
		background:#fff;
		color:#00ce74!important;
		margin-right:10px;
		line-height: 38px!important;
		border-radius: 5px;
	}
}
/*自定义顶部注册*/
.common-register {
	a {
        font-size:16px;
		display:inline-block;
		border:1px solid #00ce74;
		background:#00ce74;
		color:#fff!important;
		line-height: 38px!important;
		border-radius: 5px;
	}
}

/*自定义登陆注册框*/
.login_content_title {
    margin-top: 88px;
}
.login_content_title h1 {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
}
.register-xykt {
    background: #fff;
}
.xykt-login-body {
    background: #fff;
}
.login {
    position: static; 
    -webkit-transform: none;
    width: 100%;
    max-width: 100%;
}
.login_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    min-height:600px;

    input {
        outline: 0 none;
        border: none;
    }

    /*框框样式*/
    .login_content_frame {
        margin-top: 115px;
        width: 396px;
        padding: 0 53px;
        position: relative;
        box-shadow: #eee 0 0 30px 5px;
    }
    .title_img {
        position: absolute;
        top: -49px;
        left: 158px;
    }
    .frame-login {
        font-size: 18px;
        text-align: center;
        padding: 40px 0 30px 0;
        color: #42be7d;
    }

    .frame-login a {
        display: inline-flex;
        padding: 0 35px;
    }
    .frame-login a:hover {
        color: #42be7d;
    }
    .frame-login a.active {
        color: #42be7d;
    }

    .frame-inner {
        margin-bottom: 20px;
        width: 100%;
        height: 35px;
        border: 1px solid #eeeeee;
        border-radius: 4px;

        input {
            color: #666666;
        }

        input::-webkit-input-placeholder {
            /* placeholder颜色  */
            color: #999999;
            /* placeholder字体大小  */
            font-size: 14px;
        }
    }
    .frame-inner:nth-child(4) {
        margin-bottom: 19px;
    }

    .frame-phone {
        display: flex;
        align-items: center;
    }

    .frame-img_code {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .frame-code {
        margin-bottom: 20px;
    }
    .frame-code_left {
        width: 198px;
        height: 35px;
        padding-top:5px;
        border: 1px solid #eeeeee;
        border-radius: 4px;
        display: inline-block;

        input {
            color: #666666;
            width: 70%;
        }
    }

    .frame-code_right {
        width: 83px;
        float: right;
        height: 35px;
        line-height: 35px;
        border: 1px solid #00b362;
        text-align: center;
        color: #00b362;
        border-radius: 4px;
        display: inline-block;
        cursor: pointer;

        img {
            width: 84px;
            margin-right: 4px;
        }
    }

    .account_login_frame {
        display:block;
    }
    
    .phone_login_frame {
        display:none;
    }
    .checkbox {
        color: #999999;
        font-size: 14px;
        text-align: center;
        label {
            padding-left:5px;

            a {
                color:#999;
                &:hover {
                    color: #00b362;
                }
            }
        }
    }

    .frame-bottom_btn {
        width: 100%;
        font-size: 16px;
        text-align: center;
        color: #ffffff;
        background-color: #00b362;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 19px;
        border:0;
    }

    .frame-bottom_text {
        margin: 30px auto;
        text-align: center;
        font-size: 14px;
    }
    .frame-bottom_text span {
        color: #999999;
    }
    .frame-bottom_text a {
        color: #00b362;
    }
    .frame-bottom_text a:hover {
        color: #00b362;
        text-decoration: none;
    }

    /*input框长度*/
    .frame-phone input {
        width: 80%;
    }
    .frame-img_code input {
        width: 50%;
    }
    /*前面小图标位置*/
    .frame-phone img {
        padding-left: 14px;
        padding-right: 8px;
    }
    .frame-img_code_left img {
        padding-left: 12px;
        padding-right: 4px;
    }
    .frame-code_left img {
        padding-left: 12px;
        padding-right: 4px;
    }

    /*页脚样式*/
    .login_footer {
        margin-top: 150px;
        bottom: 34px;
        font-size: 14px;
        color: #999999;
    }
}


/*页脚样式*/
.footer {
    background:#fff;
    padding: 62px 0 0 0;
    margin-top:10px;

    .footerCol {
    display: flex;
    height: 263px;
    }
    .footerCol_contact {
        display: inline-block;
    }
    .footerCol_contact_img_wrap {
        width: 206px;
        height: 61px;
        margin-bottom: 40px;
    }
    .footerCol_contact_img_wrap img {
        width: 100%;
        height: 100%;
    }
    .footerCol_contact_title {
        font-size: 18px;
        line-height: 38.11px;
    }
    .footerCol_contact_content {
        font-size: 16px;
        line-height: 30px;
        color: #666;
    }
    .footerCol_contact_content img {
        display: inline-block;
        margin-right: 10px;
    }

    .footerCol_part {
        display: inline-block;
        margin-left: 116px;
    }
    .footerCol_part_title {
        font-size: 18px;
        line-height: 25px;
        height: 25px;
        margin-bottom: 30px;
        display: block;
    }
    .footerCol_part_content{
        display: block;
        font-size: 16px;
        line-height: 30px;
        height: 30px;
        color: #999;
    }
    .hover1:hover {
        display: inline-block;
        text-decoration: underline;
    }
    .hover2:hover {
        display: inline-block;
        color: #333;
        text-decoration: underline;
    }

    .webInfo {
        height: 82px;
        line-height: 82px;
        text-align: center;
        font-size: 14px;
        color: #999;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #e9e9e9;
    }
    .webInfo-text {
        height: 24px;
        line-height: 24px;
		a:hover{
			color: #333;
		}
    }
}
