<form  class="frm_change_group" method="post">
    <strong>{:lang("_CURRENTLY_SELECTED_USERS_")}</strong>

    <div style="word-wrap: break-word">
        {if condition="count($users) eq 0"}
            <span style="color:red">{:lang("__NONE_USERS_PLEASE_BE_CAREFUL_")}</span>
        {/if}
        {volist name="users" id="user"}
            <span><i class="icon icon-user"></i> {$user.nickname}<input type="hidden" name="uid[]" value="{$user.uid}"/></span>
        {/volist}
    </div>
    <input type="hidden" value="1" name="do">
    <hr>

    <strong>{:lang("_CHOOSE_THE_USER_GROUP_OF_THESE_USERS_")}</strong>

    {:lang("_THE_GROUP_THAT_WILL_BE_LOST_TO_THE_USER_GROUP_WHICH_IS_OWNED_BY_THE_USER_ALL_USERS_ARE_USING_THE_NEW_SET_OF_USERS_")}：
    <br/>
    {volist name="groups" id="group"}
        <label class="checkbox-inline"><input type="checkbox" name="gid[]" value="{$group.id}"> {$group.title}</label>&nbsp;&nbsp;
    {/volist}
    <hr>
    <div><a class="btn btn-block btn-warning submit" url="{:Url('user/changeGroup')}" target-form="frm_change_group" >{:lang("_SUBMIT_")}</a></div>
</form>
<script>
    $(function(){
        $('.frm_change_group .submit').click(function(){
            var sure=confirm({:lang('_DETERMINE_THE_USER_GROUP_THAT_SET_THESE_USERS?_THIS_OPERATION_CAN_NOT_BE_REDUCED_WITH_SINGLE_')});
            if(sure){
            $.post($(this).attr('url'),$('.frm_change_group').serialize(),function(msg){
                //setTimeout("window.location.reload()",50000);
                handleAjax(msg);
            });
            }
        })
    })

</script>