{extend name="common/main"/}
{block name="style"}
    <style>

    </style>
{/block}
{block name="body"}
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>{:lang('_USER_LIST_')}</h2>
    </div>
    <div class="button-box clearfix">
        <div class="row">
        <div class="col-xs-10">
            <button class="btn btn-success ajax-post confirm" url="{:Url('User/changeStatus',array('method'=>'resumeUser'))}"
                    target-form="ids">{:lang('_ENABLED_')}
            </button>
            <button class="btn btn-warning ajax-post confirm" url="{:Url('User/changeStatus',array('method'=>'forbidUser'))}"
                    target-form="ids">{:lang('_DISABLE_')}
            </button>
            <button class="btn btn-danger ajax-post confirm" url="{:Url('User/changeStatus',array('method'=>'deleteUser'))}"
                    target-form="ids">{:lang('_DELETE_')}
            </button>
            <button class="btn ajax-post btn-danger confirm" data-confirm="{:lang('_PW_RESET_CONFIRM_')}" url="{:Url('User/initPass')}" target-form="ids">{:lang('_PW_RESET_')}
            </button>
            <span style="font-size: 14px;color: #999898;margin-left: 11px;">{:lang('_PW_RESET_TIP_')}</span>
        </div>


        <!-- 高级搜索 -->
        <div class="search-form  col-xs-2 text-right">
            <div class="input-group">
                <input type="text" name="nickname" class="search-input form-control" value="{:input('nickname')}"
                       placeholder="{:lang('_PLACEHOLDER_NICKNAME_ID_')}">
                                 <span class="input-group-btn">  <a class="btn btn-default" href="javascript:;" id="search" url="{:Url('index')}"><i class="icon-search"></i></a></span>
            </div>
        </div>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table with-padding">
        <table class="table table-bordered table-striped ">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">{:lang('_UID_')}</th>
                <th class="">{:lang('_NICKNAME_')}</th>
                <th class="">{:lang('_USERNAME_')}</th>
                <th class="">{:lang('_MAILBOX_')}</th>
                <th class="">{:lang('_CELL_PHONE_NUMBER_')}</th>
                <th class="">{:lang('_USER_GROUP_')}</th>
                <th class="">{:lang('_ROLE_NAME_')}</th>
                <th class="">{:lang('_LOGIN_COUNT_')}</th>
                <th class="">{:lang('_LAST_LOGIN_TIME_')}</th>
                <th class="">{:lang('_LOGIN_IP_LAST_TIME_')}</th>
                <th class="">{:lang('_STATUS_')}</th>
                <th class="">{:lang('_EDIT_')}</th>

            </tr>
            </thead>
            <tbody>
            {notempty name="_list"}
                {volist name="_list" id="vo"}
                    <tr>
                        <td><input class="ids" type="checkbox" name="id[]" value="{$vo.uid}"/></td>
                        <td>{$vo.uid}</td>
                        <td><a href="{:Url('Admin/User/expandinfo_details',array('uid'=>$vo['uid']))}" >{$vo.nickname|text}</a></td>
                        <td>{$vo.username}</td>
                        <td>{$vo.email}</td>
                        <td>{$vo.mobile}</td>
                        <td>
                            {notempty name="vo.auth_group"}
                            {volist name="vo.auth_group" id="role"}
                            <div>
                                <span>{$role.title}</span> 
                            </div>  
                            {/volist}
                            {/notempty}
                        </td>
                        <td>
                            {volist name="vo.role" id="role"}
                            <div>
                                <span>{$role.title}</span> <span class="label label-badge label-info">{$role.status_text}</span>
                            </div>  
                            {/volist}
                        </td>

                        <td>{$vo.login}</td>
                        <td><span>{$vo.last_login_time|time_format}</span></td>
                        <td><a href="http://ip138.com/ips138.asp?ip={$vo['last_login_ip']|long2ip}">{$vo['last_login_ip']|long2ip}</a>
                        </td>
                        <td>{$vo.status_text}</td>
                        <td><a href="{:Url('Admin/User/expandinfo_details',array('uid'=>$vo['uid']))}" >{:lang('_EDIT_')}</a></td>
                    </tr>
                {/volist}
                {else/}
                <td colspan="11" class="text-center">{:lang('_ADMIN_USER_EMPTY_')}</td>
            {/notempty}
            </tbody>
        </table>

        <div class="page text-center">
            {$page}
        </div>
    </div>
{/block}

{block name="script"}

    <script>
        function post_select_form(){
            var ids=$('.ids').serialize();

            if(ids==''){
                updateAlert('请勾选操作对象!。','danger');
                return false;
            }
            var title="{:lang('_USER_GROUP_SELECT_')}";
            $.post("{:Url('user/changeGroup')}",ids,function(msg){
                (new $.zui.ModalTrigger({custom: msg,title:title})).show();
            })
        }
    </script>
    <script type="text/javascript">
        //搜索功能
        $("#search").click(function () {
            var url = $(this).attr('url');
            var query = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
            query = query.replace(/^&/g, '');
            if (url.indexOf('?') > 0) {
                url += '&' + query;
            } else {
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function (e) {
            if (e.keyCode === 13) {
                $("#search").click();
                return false;
            }
        });
    </script>
{/block}