
<link href="__COMMON__/lib/webuploader/css/webuploader.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__COMMON__/lib/jcrop/jquery.Jcrop.css"/>

    <!--用来存放item-->
    <div id="fileList" class="uploader-list"></div>
    <div class="show_avatar">
            <div class=" avatar_select">
                <div id="avatar_{$uid}_original" class="avatar_preview">
                    <img class="img-circle"  src="{$user.avatar256}" />
                </div>  
            </div>
    </div>

    <div class="">
    <div id="upload_avatar_{$uid}" class="avatar_upload_btn" style="margin-top:5px">{:lang('_AVATAR_SELECT_')}</div>
    <button class="btn btn-block btn-lg btn-warning avatar_btn" data-role="avatar_btn"  type="button" style="margin-top:5px">{:lang('_AVATAR_SAVE_')}</button>
    </div>
          

