<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      {notempty name="__MODULE__"}
      <div class="expand-info">
        <div class="expand-icon">
          <img src="{$__MODULE__.icon}" />
        </div>
        <h3 class="title">{$__MODULE__.alias}</h3>
        <p class="version">版本：{$__MODULE__.version}</p>
        <a href="{:url('admin/module/index')}" class="btn btn-module">切换应用</a>
      </div>
      {/notempty}
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        
        {volist name="__MODULE_MENU__.child" id="sub_menu"}
        <li class="treeview menu-open">
          <a>
              {notempty name="sub_menu.icon"}
                  <i class="fa fa-{$menu.icon}"></i>
              {else /}
                  <i class="fa fa-circle-o"></i>
              {/notempty}
              
              {notempty name="key"}
                <span>{$key}</span>
              {/notempty}
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu menu-open">
              {volist name="sub_menu" id="c_menu"}
              <li data-id="{$c_menu.id}" data-url="{$c_menu.url|url}">
                  <a href="{$c_menu.url|url}">
                    {notempty name="c_menu.icon"}
                        <i class="fa fa-{$c_menu.icon}"></i>
                    {else /}
                        <i class="fa fa-circle-o"></i>
                    {/notempty}
                    {$c_menu.title}
                </a>
              </li>
              {/volist}
          </ul>
        </li>
        {/volist}
      </ul>
      
      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview menu-open">
          <a>
              <i class="fa fa-circle-o"></i>
              <span>插件菜单</span>
              
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu menu-open">
            {volist name="__ADDONS_MENU__" id="menu"}
            <li>
                <a href="{$menu.url|url}" target="main_iframe">  
                  <i class="fa fa-circle-o"></i>
                  <span>{$menu.title}</span>
              </a>
            </li>
            {/volist}
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>