<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>MuuCMF T5 | 控制台</title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- ZUI -->
<link href="__ZUI__/css/zui.min.css" rel="stylesheet">
<!-- Theme style -->
<link rel="stylesheet" href="__LIB__/AdminLTE/css/AdminLTE.min.css">
<link rel="stylesheet" href="__LIB__/AdminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="__CSS__/muucmf_skin_theme.min.css">
{block name="style"}{/block}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  {include file="common/header" /}
  <!-- Left side column. contains the logo and sidebar -->
  {include file="common/sidebar" /}

  <!-- Content Wrapper. Contains page content -->
  {include file="common/content" /}
  <!-- /.content-wrapper -->
  {include file="common/footer" /}
</div>
<!-- ZUI -->
<script src="__COMMON__/lib/jquery-2.1.1/jquery.min.js"></script>
<script src="__COMMON__/lib/zui/js/zui.min.js"></script>
<!-- AdminLTE App -->
<script src="__LIB__/AdminLTE/js/adminlte.min.js"></script>
</body>
</html>
