<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>MuuCMF T5 | 控制台</title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- ZUI -->
<link href="__ZUI__/css/zui.min.css" rel="stylesheet">
<link href="__ZUI__/css/zui-theme.min.css" rel="stylesheet">
<!-- MAIN IFRAME BASE -->
<link href="__CSS__/main_iframe.min.css" rel="stylesheet">
<!-- pagination -->
<link rel="stylesheet" href="__CSS__/pagination.min.css">
{block name="style"}{/block}
<script src="__COMMON__/lib/jquery-2.1.1/jquery.min.js"></script>
</head>
<body class="hold-transition">

<section class="container-fluid">
	<div class="wrapper">	
		{block name="body"}{/block}
	</div>
</section>	

<!-- ZUI -->
<script src="__COMMON__/lib/zui/js/zui.min.js"></script>
<script src="__JS__/main.min.js"></script>
{block name="script"}{/block}
</body>
</html>